name: "Dev Terraform Workflow"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform-init-plan:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: be1899ed-738f-4052-bd69-c0e225cd616d
          tenant-id: cffcc9a9-94fe-4afc-9989-213fb9f99086
          subscription-id: 85002d33-efb7-4e6a-8e6d-7457837654e2

      - name: Terraform fmt
        run: terraform fmt -check
        working-directory: environments/dev

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: environments/dev

      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: environments/dev

      - name: Terraform Plan
        run: terraform plan -no-color -input=false
        working-directory: environments/dev

  terraform-apply:
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    needs: terraform-init-plan
    environment: dev   
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: be1899ed-738f-4052-bd69-c0e225cd616d
          tenant-id: cffcc9a9-94fe-4afc-9989-213fb9f99086
          subscription-id: 85002d33-efb7-4e6a-8e6d-7457837654e2

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: environments/dev

      - name: Terraform Apply
        run: terraform apply --auto-approve
        working-directory: environments/dev
